body{
    background-color: black;
    padding: 50px;
}
.bg-dark,.bg-light,.bg-warning,.bg-danger,.calculator{
    border-radius: 10px;
    padding-top: 10px;
}
button.btn{
    font-size: 30px;
}
p.important{
    font-size: 35px;
    font-weight: bold;
}
p.bold{
    font-weight: bold;
}
.result{
    height: 100px;
}
